@inject IApiService ApiService
@inject NavigationManager NavigationManager
@inject IFGPSearchService FgpSearchService

@page "/search/"
@page "/search/{searchtext}"
@using NRCan.Datahub.Shared.Data.FGP

<div class="header-wrapper">
    <h2 class="nrcan-typography h2">@Localizer["File Results"]</h2>
</div>

<FileGrid SearchText=@searchtext CurrentFolder="ApiService.SearchDataFolder" CanAddData="false"/>

<hr/>
<div class="header-wrapper">
    <h2 class="nrcan-typography h2">@Localizer["FGP Results"]</h2>
</div>


@if (FgpItems.Count > 0)
{
    <table class="search-list-container full-width-search-list">
        <thead>
            <tr>
                <th class="search-table-header">@Localizer["Title"]</th>
                <th class="search-table-header">@Localizer["Organization"]</th>
                <th class="search-table-header">@Localizer["Created"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in FgpItems)
            {
                <tr class="search-table-row">
                    <td>
                        <a href=@(item.GetGeoCaUrl())>@item.Title</a>
                    </td>
                    <td>@item.Organisation</td>
                    <td>@item.Created</td>
                </tr>
            }
        </tbody>
        @if (MoreResultsAvailable)
        {
            <tfoot>
                <tr>
                    <td colspan="3">
                        @if(SearchingFGP)
                        {
                            <Spinner />
                        }
                        else 
                        {
                            <AeButton OnClickEvent="@LoadMoreResults" class="blue">@Localizer["More Results ..."]</AeButton>
                        }
                    </td>
                </tr>
            </tfoot>
        }
    </table>

}
else if (SearchingFGP)
{
    <Spinner />
}
else
{
    <h4>@Localizer["No results found"]</h4>
}

@code
{
    private const int RESULTS_PER_PAGE = 25;
    
    [Parameter]
    public string searchtext { get; set; }

    private List<GeoCoreItem> FgpItems { get; set; } = new List<GeoCoreItem>();

    private bool SearchingFGP { get; set; } = false;
    private bool MoreResultsAvailable { get; set; } = true;
    private int MinResult { get; set; } = 1;
  
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (string.IsNullOrWhiteSpace(searchtext))
        {
            NavigationManager.NavigateTo("data");
        }
        else
        {
            var searchResults = await LoadResults();
            FgpItems = new List<GeoCoreItem>(searchResults.Items);
        }
    }

    private async Task<GeoCoreSearchResult> LoadResults()
    {
        SearchingFGP = true;
        var maxResult = MinResult + RESULTS_PER_PAGE - 1;
        var loadTask = FgpSearchService.SearchFGPByKeyword(searchtext, min: MinResult, max: maxResult);
        MinResult = maxResult + 1;
        var result = await loadTask;
        MoreResultsAvailable = result.Count >= RESULTS_PER_PAGE;
        SearchingFGP = false;
        return result;
    }

    protected async Task LoadMoreResults()
    {
        var moreResults = await LoadResults();
        FgpItems.AddRange(moreResults.Items);
    }
}
